#content_wrapper {
    margin: 0;
}

/* ----------
 * Catégories
 * ----------*/

.cat_wrapper {
    background: #4690FF;
    border-radius: 5px;
    width: 229px;
    padding: 3px;
    margin: 5px 0 15px 0;
}

.cat_wrapper .title {
    background: none;
    font-size: 18px;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 1px 0 5px 0;
}

.cat_wrapper .content {
    border-radius: 2px;
    padding: 0;
    margin: 0;
    background-color: white;
}

.cat_wrapper a {
    display: block;
    font: normal 14px Century Gothic;
    margin-left: 15px;
    color: black;
}

.accueil {
    background-image: url(../images/catv-1.png);
}

.presentation {
    background-image: url(../images/catv-2.png);
}

.boutique {
    background-image: url(../images/catv-3.png);
}

.commander {
    background-image: url(../images/catv-4.png);
}

.contact {
    background-image: url(../images/catv-5.png);
}

.cgv {
    background-image: url(../images/catv-6.png);
}

.cat {
    position: relative;
    margin-bottom: 14px;
    width: 235px;
}

.locomotives {
    background-image: url(../images/cat-1.png);
    height: 151px;
}

.autorails {
    background-image: url(../images/cat-5.png);
    height: 150px;
}

.voyageurs {
    background-image: url(../images/cat-2.png);
    height: 154px;
}

.marchandises {
    background-image: url(../images/cat-3.png);
    height: 152px;
}

.accessoires {
    background-image: url(../images/cat-4.png);
    height: 151px;
}

.decors {
    background-image: url(../images/cat-6.png);
    height: 150px;
}

.vehicules {
    background-image: url(../images/cat-7.png);
    height: 150px;
}