#QTY_bg {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: .75;
    z-index: 1;
    background-color: black;
}

#QTY_dialog_bg {
    background-image: url(../images/commander/bg.png);
    color: #3d6506;
    font-family: Georgia, Arial;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    height: 131px;
    padding: 38px 10px 10px 34px;
    position: absolute;
    width: 253px;
    z-index: 1;
}

.QTY_help {
    margin: 0 0 0 65px;
    font-weight: normal;
    font-size: 10px;
}

.QTY_color {
    border: 1px solid #7ab91f;
    height: 32px;
    width: 32px;
    margin-right: 5px;
    display: inline-table;
    vertical-align: middle;
}

.QTY_color_selected {
    border: 2px solid black;
    height: 30px;
    height: 30px;
}

#QTY_palette {    
    position: relative;
    height: 34px;
    margin-bottom: 10px;
}

#QTY_palette_text {
    display: inline;
    margin-right: 11px;
}

#QTY_dialog_bg > div > span {
    margin-right: 10px;
}

#QTY_dialog_bg > div > input {
    background-image: url(../images/commander/input.png);
    border: 0;
    height: 25px;
    padding-left: 5px;
    width: 179px;
}

#QTY_validate {
    border: 0;
    position: absolute;
    top: 143px;
    left: 127px;
    height: 26px;
    width: 75px;
}

.QTY_active {
    background-image: url(../images/commander/bouton_v.png);
}

.QTY_desactive {
    background-image: url(../images/commander/bouton_v2.png);
}

#QTY_cancel {
    background-image: url(../images/commander/bouton_a.png);
    border: 0;
    position: absolute;
    top: 143px;
    left: 211px;
    height: 26px;
    width: 75px;
}