/* 
    Document   : promotion
    Created on : 4 déc. 2011, 10:54:59
    Author     : gcanu
    Description:
        Purpose of the stylesheet follows.
*/

h2 {
    color: #3D6506;
    font: 16px Verdana;
    margin-left: 30px;
}