<div id="div_contact">
    <h1>Découvrez le magasin Trains-Ouest</h1>
    <p style="text-align: center;">
        17 Avenue de la République<br/>
        14800 Deauville
    </p>
    <p>
        Ouvert du mardi au Samedi de 14h30 à 19 h et sur rendez-vous
    </p>
    <p>
    	<img src="images/boutique/boutique_3.jpg" />
    	<img src="images/boutique/boutique_1.jpg" />
    	<img src="images/boutique/boutique_2.jpg" />
        <img src="images/boutique/boutique_4.jpg" />
    </p>
</div>