<div id="cat_wrapper">
    <p class="titre">Conditions générales au 1er juillet 2013</p>
    <p class="soustitre">Les conditions générales de vente</p>
    <p class="corps">Les présentes conditions générales de vente répondent au cadre législatif fixé par le code de la consommation et celui de la vente à distance. Elles présentent clairement les engagements du commerçant et du client.<p>

    <p class="soustitre">L’acceptation de conditions</p>
    <p class="corps">Le client reconnait, au moment de sa commande,  avoir pris connaissance et accepter sans réserve, l’ensemble des conditions de vente énoncées sur le site internet.</p>

    <p class="soustitre">Les produits</p>
    <p class="corps">Trains-Ouest commercialise des trains miniatures et accessoires pour le décor.<p>

    <p class="soustitre">La commande</p>
    <p class="corps">Après réception de la commande, Trains-Ouest confirme cette dernière par e-mail ou par courrier à l’adresse communiquée par le client et se réserve le droit d’annuler tout ou partie de la commande pour rupture de stock ou litige antérieur avec le client. La vente est conclue après cette confirmation.</p>

    <p class="soustitre"><a name="_livraison">Le transport et la livraison</a></p>
    <p class="corps">Les frais de transport indiqués ci-dessous concernent la France Métropolitaine, pour une expédition vers les DOM TOM et les pays étrangers, merci de nous contacter.</p>
    
    <p class="corps">Le transport est facturé 7.50 € TTC pour toute commande inférieure à 100.00 € TTC.</p>
    <p class="corps">Le transport est facturé 12.00 € TTC pour toute commande inférieure à 200.00 € TTC.</p>
    <p class="corps">Pour une commande égale ou supérieure à 200.00 € TTC le transport est offert.</p>

    <p class="corps">Le client est engagé par les informations énoncées sur l’adresse de livraison, aussi Trains-Ouest ne peut être tenu responsable d’une erreur ou d’une impossibilité de livraison liée à ces informations.</p>
    <p class="corps">48 heures ouvrées après la confirmation de la commande et réception du règlement, Trains-Ouest s’engage à faire parvenir, les produits en stock, au transporteur pour expédition.</p>
    <p class="corps">L’acheminement des marchandises s’effectue par la Poste en colissimo avec un délai annoncé de deux jours pour la France Métropolitaine.</p>
    <p class="corps">Trains-Ouest ne peut être tenu responsable de tout retard lié à l’activité de la Poste ou du transporteur. Les retards éventuels ne donnent pas le droit au client de réclamer des dommages et intérêts.</p>
    <p class="corps">Les marchandises voyagent aux risques et périls du destinataire. Elles doivent être contrôlées en présence du facteur ou du transporteur et toutes anomalies, manquants, dégradations… doivent être notées sur le bordereau de transport, avant de le remettre au facteur ou au transporteur. Le client doit faire parvenir une réclamation auprès de Trains-Ouest dans un délai de 48 heures, par lettre recommandée, à l’adresse suivante : Trains-Ouest 17 avenue de la République 14800 Deauville.</p>
    <p class="corps">Le non respect de l’une ou de l’ensemble de ces consignes dégage Trains-Ouest de toute responsabilité, de tout dédommagement ou d’échange du ou des produits endommagés ou manquants.</p>
    <p class="corps">Des cas de force majeure  déchargent Trains-Ouest de son obligation de livrer : les incendies, les émeutes, les guerres, les grèves, les accidents, et les impossibilités d’être approvisionné.</p>

    <p class="soustitre">Le droit de rétractation</p>
    <p class="corps">Le client dispose d’un délai de 14 jours (à compter de la réception des produits) pour se faire une opinion. Si le client ne souhaite pas conserver un ou plusieurs produits il doit les retourner, neufs, intacts, dans leur emballage d’origine à l’adresse suivante : Trains-Ouest, 17 avenue de la République, 14800 Deauville.</p>
    <p class="corps">Le client peut alors bénéficier d’un échange ou d’un remboursement des produits (hors frais de transport allé) dans un délai de 7 jours ouvrés après réception par Trains-Ouest. Les frais de retour sont à la charge du client.</p>

    <p class="soustitre">Les prix</p>
    <p class="corps">Les prix des produits sont exprimés en euros, toutes taxes comprises, hors frais de transport.</p>
    <p class="corps">Le montant total de votre commande est définitif après confirmation de celle-ci par e-mail ou par courrier.</p>

    <p class="soustitre">Le paiement  et la facturation</p>
    <p class="corps">Le prix facturé au client est celui indiqué sur la confirmation de commande à l’exception des précommandes qui peuvent donner lieu à des modifications de tarif.</p>
    <p class="corps">Le montant total de la facture est payable au comptant avant expédition</p>
    <p class="corps">Vous pouvez payer votre commande de plusieurs façons :</p>
    <p class="corps">Par chèque, libellé à l’ordre de Trains-Ouest</p>
    <p class="corps">Par virement, les coordonnées bancaires sont indiquées sur la confirmation de commande.</p>
    <p class="corps">Par virement paypal : decobac@wanadoo.fr</p>
    <p class="corps">Vous ne pouvez pas effectuer de paiement à distance par carte bancaire, uniquement en magasin.</p>
    <p class="corps">Quel que soit le mode de paiement, une facture détaillée vous sera adressée suite à l’expédition de votre commande. Si vous souhaitez que cette facture soit libellée à un autre ordre merci de l’indiquer lors de votre commande.</p>

    <p class="soustitre">Le règlement des litiges</p>
    <p class="corps">Le présent contrat est soumis au droit français.</p>
    <p class="corps">Trains-Ouest ne peut être tenu responsable des dommages de toute nature, tant matériels qu’immatériels ou corporels, qui pourraient résulter d’un mauvais fonctionnement ou mauvaise utilisation des produits vendus.</p>
    <p class="corps">En cas de difficulté dans l’application du présent contrat, l’acheteur a la possibilité, avant toute action en justice, de rechercher une solution amiable notamment avec l’aide d’une association professionnelle de la branche, d’une association de consommateurs ou toute autre aide de son choix.</p>
    <p class="corps">Les réclamations ou contestations du client sont toujours reçues de façon attentive. La bonne foi du client étant toujours présumée, il doit exposer sa situation auprès de Trains-Ouest, 17 avenue de la république 14800 Deauville, dans le but de trouver une solution amiable. A défaut, le Tribunal de Commerce d’Honfleur est seul compétent quelque soit le lieu de livraison, le lieu de commande et le mode de paiement accepté.</p>

    <p class="soustitre">Clause de réserve de propriété</p>
    <p class="corps">Trains-Ouest demeure propriétaire de la ou des marchandises livrées jusqu'à leur règlement total.</p>
</div>