<div id="div_contact">
	<h1>Pour commander vous pouvez</h1>
	<p>
		Téléphoner au 02 31 14 03 59 du mardi au Samedi de 14h30 à 19h<br/>
		Envoyer votre commande par e-mail à decobac@wanadoo.fr<br/>
		Envoyer votre commande par courrier à Trains-Ouest 17 avenue de la République 14800 Deauville<br/>
	</p>
	<p>
		Dans tous les cas une confirmation vous sera adressée vous précisant les prix et la disponibilité des produits.
	</p>
	<h1>Réservation des matériels roulants</h1>
	<p>
		La réservation est validée après réception d’un acompte<br/>
		10 € pour les wagons ou les voitures<br/>
		50 € pour les machines<br/>
		Cette réservation peut se faire sous forme de chèque encaissé au moment de la livraison.<br/>
	</p>
	<p>
		Paiement en trois fois sans frais accepté à partir de 150 € d’achat.
	</p>
	<p>
		Je reste à votre disposition pour tous renseignements au 06 85 50 44 62
	</p>
	<p>
		Bien cordialement Jean-Louis DESLEUX
	</p>
</div>