<div id="cat_wrapper">
    <p class="titre">Qui suis-je ?</p>

    <p class="corps">Commerçant installé dans le calvados depuis 1996 et spécialisé dans le domaine de plantes et fleurs artificielles, j’ai souhaité diversifier mon activité et me spécialiser dans une passion qui m’anime depuis ma plus tendre enfance.</p>
    <p class="corps">Ne soyez donc par surpris, lors de votre visite, de découvrir ce rayon de trains miniatures au milieu des plantes et des fleurs.</p> 
    <p class="corps">Pour le moment je vous propose de découvrir les marques REE, LS Models, EPM, Peco et Heki.</p> 
    <p class="corps">C’est une première étape dans l’assortiment que je vous proposerai.</p> 
    <p class="corps">J’ai choisi ces marques pour la qualité de leur production, la finesse des détails et le rapport qualité prix.</p>
    <p class="corps">Je suis moi-même collectionneur de ces marques et utilise ces références sur mon propre réseau.</p>
    <p class="corps">N’hésitez pas à me contactez pour toute information, j’ai toujours plaisir à répondre à vos attentes et à vos questions.</p>
    <p class="corps">Partageons cette même passion qui nous anime, et que vive le train !!!</p>
    <p class="corps">Je vous remercie de votre passage sur notre site et vous souhaite une agréable visite.</p>

    <p class="corps">&nbsp;</p>

    <p class="corps"><span class="gras">Raison sociale :</span> Trains-Ouest</p>
    <p class="corps"><span class="gras">Statut juridique :</span> commer&ccedil;ant ind&eacute;pedant</p>
    <p class="corps"><span class="gras">Nom du responsable :</span> Jean-Louis DESLEUX</p>
    <p class="corps"><span class="gras">Magasin et si&eacute;ge social :</span> 17 avenue de la R&eacute;publique 14800 Deauville / France</p>
    <p class="corps"><span class="gras">T&eacute;l&eacute;phone fixe :</span> 02 31 14 03 59</p>
    <p class="corps"><span class="gras">T&eacute;l&eacute;phone portable :</span> 06 85 50 44 62</p>
    <p class="corps"><span class="gras">E-mail :</span> trains-ouest@orange.fr</p>
    <p class="corps"><span class="gras">Site web :</span> www.trains-ouest.fr</p>
    <p class="corps"><span class="gras">TVA intra-communautaire :</span> FR14409778958</p>
    <p class="corps"><span class="gras">Siret :</span> RCS Honfleur 409 778 958 000 44</p>
</div>

